*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

img{
    width: 100%;
    height: 100%;
}

        /* HEADER */
#logo{
    width: 150px;
    border-right: 1px solid rgb(182, 182, 182);
    padding-right: 15px;
}

           /* NAV */
nav{
    color: rgb(182, 182, 182);
    padding: 25px 0;
}

a{
    text-decoration: none;
    color: currentColor;
    margin-right: 15px;
}

a:hover {
    color: rgb(221, 112, 221);
}

          /* Pre-Main */
.container .banner{
    width: 100%;
    height: 450px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.banner > img{
    object-fit: cover;
    object-position: center;
}

#pre-main .banner .description{
    width: 48%;
    color: white;
    position: absolute;
    left: 40px;
    bottom: 60px;
    z-index: 10;
}

.description h1{
    font-size: 28px;
}

.overlay::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}


section{
    padding-top: 15px;
}

       /* Main - Gestione layout colonne */
.col > h1{
    font-size: 32px;
    font-weight: 700;
}

.col > span{
    color: rgb(182, 182, 182);
}

.module > p{
    color: rgb(182, 182, 182); 
}

.col.over{
    padding: 20px 0;
}
    /* Moduli colonne */
.col .module-img{
    width: 100%;
    height: 200px;
    font-size: 0;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.module-img > img{
    object-fit: cover;
    object-position: center;
}

.module{
    padding-top: 15px;
}

.module > h6{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

p, .col > span{
    font-size: 14px;
}

.row .col{
    float: left;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.row .col.sidebar {
    width: 20%;   
}

.row .col.content {
    width: calc(100% - 40% - 30px);
    margin-left: 15px;
    margin-right: 15px;
}

.row .col.over{
    width: 100%;
    min-height: 40px;
}

.row {
    margin-bottom: 15px;
}

        /* FOOTER */
footer .container{
    text-align: center;
}

#hearts{
    color: red;
    font-size: 25px;
}

header, footer{
    padding-top: 15px;
}